<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App estacion</title>

	<link rel="stylesheet" type="text/css" href="views/static/css/vars.css">
	<link rel="stylesheet" type="text/css" href="views/static/css/styles.css">
	
</head>
<body>

	<div id="wrapper">

		<div id="header">
			<div class="titulo">App estacion</div>
		</div>

		<div id="content">

			<div id="window">
				
				<div class="info">
					Monitor de estaciones metereologicas construidas con ESP8266, las mismas cuentan sensores de humedad, temperatura y viento que envian los datos via wifi a un servidor
				</div>
				<a href="panel"  class="css-button-rounded--yellow">panel</a>
			</div>

		</div>



	</div>
</body>
</html>